.register-header {
  margin-top: 20%;
  text-align: center;
}

.send-button {
  margin: 5px;
  height: 25px;
  border: none;
  background-color: #00FA9A;
  border-radius: 5px;
}

.register-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .register-inputs {
    display: flex;
    flex-flow: column;
  }
  
  .register-input {
    margin: 5px;
    height: 25px;
  }
}